body {
  background-color: #eeeeee;
  color: #393e46;
  margin: 100px;
  margin-top: 80px;
}

img {
  margin-right: 30px;
}

hr {
  color: #00adb5;
  border-style: none;
  border-top: dotted 10px;
  width: 5%;
}

a {
  color: #00adb5;
}

h1 {
  color: #222831;
}

h4 {
  color: #222831;
  text-align: center;
}

tr {
  line-height: 40px;
}

td {
  column-width: 40;
}

#resume-name {
  color: #00adb5;
}
